@use '../../utilities/colors' as v;

.modal-content:has(.select-friends) {
  background: v.$light-gray;
}

.add-friend-container.select-friends {
  border-radius: 1rem 1rem 0 0;
}

.split-with-people {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid v.$light-gray;
  padding: 1rem 0;
  .split-with-people__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    .clear-button {
      color: v.$accent-blue;
      font-size: 0.875rem;
      font-weight: 600;
    }
  }
  .split-with-people__users {
    display: flex;
    gap: 1rem;
    height: 60px;
    padding: 0 1.25rem;
  }
  .split-with-user {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
  }
  .remove-user {
    position: absolute;
    right: -5px;
    top: -5px;
    padding: 0 0 10px 10px;
  }
}

.select-friends {
  position: relative;
  top: calc(46px + env(safe-area-inset-top));
  width: 100%;
  height: calc(100vh - 46px - env(safe-area-inset-top));
  background: #ffffff;

  .results {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
}

.selected-users-button {
  visibility: hidden;
  &.show {
    visibility: visible;
  }
}
