@use '../../utilities/colors' as v;

.new-group-container {
  .group-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 20px;
  }

  .group-spacing {
    margin: 0 20px;
  }

  .group-members {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: v.$light-gray;
    padding: 0.875rem 20px;
    border-top: 1px solid v.$accent-gray;
    border-bottom: 2px solid v.$accent-gray;
  }
}
