@use '../../utilities/colors' as v;

.expense-details-container {
  background: v.$light-gray;
  .details-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.expense-transactions-container {
  background: #ffffff;
  border-radius: 24px 24px 0px 0px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .paid-up {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.875rem;
    letter-spacing: 0.25px;
    font-weight: 600;
    border: 1.5px solid #ffffff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.75rem;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 0px rgba(104, 150, 54, 0.376);
  }

  .expense-type {
    display: flex;
    gap: 0.25rem;
    color: v.$dark-gray;
    font-weight: 500;
    font-size: 1rem;
  }
  .expense-amount {
    color: v.$green;
    font-weight: 600;

    &.expense-amount--details {
      font-size: 1.5rem;
    }
  }
  .expense-amount--owe {
    color: v.$red;
  }

  .user-transaction {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .debtor-transaction {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .created-date {
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    background: rgba(114, 155, 121, 0.48);
    border: 1px solid rgba(80, 113, 85, 0.75);
    border-radius: 0.5rem;
  }

  .user-details {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    background: v.$light-gray;
    font-size: 0.875rem;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;
    box-shadow: 0px 2px 0px v.$accent-gray;
  }

  .details-paid {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .page-info-container {
    align-items: flex-start;
    gap: 0.875rem;
  }
}
