@use '../../utilities/colors' as v;

.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  touch-action: none;
  background: v.$light-gray;
  padding: 1.5rem;
  border-radius: 1rem;
  flex: 1;
  .input-label {
    font-size: 0.875rem;
    font-weight: 500;
  }
  .input-container {
    gap: 0.5rem;
  }
  .login-heading {
    font-family: ui-rounded, 'Inter', system-ui, sans-serif;
    color: v.$blue-black;
    font-size: 24px;
    align-self: center;
  }
}

.log-in-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  width: 100%;

  .action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
  }

  .login-bottom-text {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .login-bottom-link {
    font-weight: 600;
    text-decoration: none;
    color: v.$layout-green;
  }
}
