@use '../../../utilities/colors' as v;

.dropdown-select {
  select {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid v.$accent-gray;
    appearance: none;
    -webkit-appearance: none;
    background: #ffffff url('../../../images/Arrow_down-gray.svg') no-repeat 95%
      center;
    width: 100%;
    min-height: 40px;
    text-indent: 0.01px;
    color: v.$dark-gray;
    font-size: 0.875rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
  }
  min-width: 161px;
  border-radius: 1rem;
  overflow: hidden;

  &.small {
    min-width: 101px;
    select {
      min-height: 34px;
      padding: 0.5rem 0.625rem;
      border: 1px solid v.$accent-gray;
    }
  }
}
