@use '../../utilities/colors' as v;

.expense-container {
  position: absolute;
  top: 0;
  background: white;
  height: 100%;
  width: 100%;
}

.expense-info {
  margin: 20px 20px;
}

.expense-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .input-label {
    font-family: 'Rubik', sans-serif;
    color: v.$washed-gray;
    font-weight: 500;
    font-size: 0.875rem;
    text-transform: uppercase;
  }

  .expense-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input {
      width: 100%;
      font-size: 1rem;
      padding: 0.5rem;
    }
  }

  .radio-option {
    margin-top: 0.5rem;
  }

  .button {
    margin-top: 1rem;
  }
}