@use '../../utilities/colors' as v;

.layout:has(.expense-container) {
  background: v.$light-gray;
  height: 100%;
}

.expense-container {
  height: 100%;
  width: 100%;
  .page-button {
    position: absolute;
    bottom: calc(1rem + env(safe-area-inset-bottom));
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

.expense-form {
  height: 100%;

  .amount-input-container {
    z-index: 3;
  }

  .expense-input-container {
    position: relative;
    z-index: 3;
    .text-input-container {
      align-items: center;
    }
  }

  .expense-radio.paid-by {
    display: flex;
    gap: 1rem;
  }

  .user-detail-select {
    cursor: pointer;
  }
}

.expense-details-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  gap: 70px;

  .atom--fade {
    &::before {
      height: 100%;
      top: -100%;
    }
  }

  .new-expense-category {
    position: absolute;
    z-index: 3;
    bottom: -1.25rem;
    select {
      color: v.$washed-gray;
    }
  }
  .button {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
  .bottom-container {
    position: absolute;
    bottom: calc(1rem - env(safe-area-inset-bottom));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .bottom-inputs {
    display: flex;
    gap: 0.5rem;
  }
}

.split-details-page {
  margin: 0 20px;
  .add-users {
    margin-top: 1.5rem;
  }
  .nucleus__amount {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.02em;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
  }
  .input-label {
    margin: 0 1rem;
  }
  .split-inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .expense-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .atom--fade {
    &::after {
      height: 100%;
      bottom: -100%;
    }
  }
  .dropdown-select select {
    font-size: 1rem;
  }
  .split {
    background: #ffffff;
    border: 1px solid v.$accent-gray;
    border-radius: 1rem;
    padding: 0.75rem 0.875rem;
    display: flex;
    flex-direction: column;
    .input-label {
      height: 0;
      width: 0;
      visibility: hidden;
    }
    .radio-select {
      display: flex;
      justify-content: space-between;
    }
    .people-split {
      display: flex;
      flex-direction: column;
      padding-top: 1.25rem;
      gap: 1rem;
    }
    .person-split {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.75rem;
      .divider {
        width: 60%;
        height: 1px;
        margin: 0 1rem;
        background: v.$accent-gray;
      }
      .person-info {
        font-size: 0.875rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        min-width: 40px;
      }
      .person-amount {
        font-weight: 500;
      }
      .expense-form .expense-input-container .text-input-container {
        gap: 0;
      }
      .person-amount-input {
        .text-input {
          font-size: 1rem;
          text-align: center;
          min-width: 40px;
        }
      }
    }
  }
  .text-input {
    border: 1px solid v.$accent-gray;
  }
}
