@use '../../utilities/colors' as v;

.amount-container {
  .amount {
    font-family: ui-rounded, system-ui, sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    background: v.$green-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .amount--owe {
    background: v.$red-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
