@use '../../utilities/colors' as v;

.layout:has(.dashboard) {
  background: v.$light-gray;
}

.balance-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  min-height: 140px;
  padding: 0.25rem 1.25rem;
  margin-bottom: 62px;
  border-radius: 0px 0px 24px 24px;
  background: linear-gradient(180deg, #51754C 0%, #5A8352 31.77%, #689B5D 61.98%, #81AD6B 78.13%, #B0CF85 100%);
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.10), 0px -3px 0px 0px rgba(0, 0, 0, 0.05) inset;
  z-index: 1;
  .balance {
    width: fit-content;
    margin-bottom: 1.25rem;
  }
  .balance-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.10);
    padding: 0.375rem 0.5rem;
    color: #FFFFFF;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-family: ui-rounded, system-ui, sans-serif;
    font-weight: 700;
    letter-spacing: 0.96px;
  }
}
.details-background {
  position: absolute;
  margin-top: calc(-1 * env(safe-area-inset-top)); 
  top: calc(-28px + env(safe-area-inset-top));
  left: 0;
  width: 100%;
  padding-top: env(safe-area-inset-top);
  height: 190px;
  z-index: 0;
  background: #51754C;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: calc(
    100% + 96px + env(safe-area-inset-top) + env(safe-area-inset-bottom)
  );
  background: v.$light-gray;
}

.transactions-container {
  padding: 0 1.25rem;
  .recent-transactions {
    background: #FFFFFF;
    padding: 0 0.75rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
    .simple-transaction {
      border-bottom: 1px solid v.$light-gray;
      border-radius: 0;
    }
    .simple-transaction:last-of-type {
      border: none;
    }
  }
}

.refresh {
  background: #51754C;
}