@use '../../utilities/colors' as v;

.tabs {
  position: relative;
  top: -1px;
  width: 100%;
  display: flex;
  .tab {
    width: 100%;
    background: v.$layout-green;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    min-height: 50px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.134) 145.1%
      ),
      v.$layout-green;
    filter: brightness(0.8);
    box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
    &.left-tab {
      border-radius: 0px 0px 0px 6px;
    }
    &.right-tab {
      border-radius: 0px 0px 6px 0px;
    }
    &.selected {
      filter: none;
      &.left-tab {
        box-shadow: inset -2px -2px 0px rgba(0, 0, 0, 0.15);
      }
      &.right-tab {
        box-shadow: inset 2px -2px 0px rgba(0, 0, 0, 0.15);
      }
    }
  }
}
