@use '../../../utilities/colors' as v;

.group-expenses {
  font-size: 0.875rem;
  .group-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    border-radius: 1rem 1rem 0 0;
    padding: 0.875rem 0.625rem;
    color: v.$blue-black;
  }
  .group-expenses__link {
    text-decoration: inherit;
    color: inherit;
  }

  .group-expense {
    border-radius: 0;
    min-height: 56px;
    border-bottom: 1px solid v.$accent-gray;
    .arrow--right {
      display: none;
    }
  }

  .expenses-list .transaction-link:first-child .group-expense {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
  .expenses-list .transaction-link:last-child .group-expense {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: none;
  }

  .more-expenses {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0.625rem;
    color: v.$blue-black;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: v.$light-gray;
    border-radius: 0 0 1rem 1rem;
    border-left: 3px solid v.$accent-gray;
  }
}
