@use '../../../utilities/colors' as v;

.add-users {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .button--form-add {
    height: 45px;
    width: 45px;
    background: v.$light-gray;
    border: none;
  }

  .input-label {
    margin: 0 20px;
  }

  .users-selected {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background: #ffffff;
    padding: 0.5rem 1rem;
    border: 1px solid v.$accent-gray;
    border-radius: 1rem;
  }

  .group-selected {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.875rem;
    background: #ffffff;
    border-radius: 0.5rem;
    border-bottom: 2px solid v.$accent-gray;
    border-left: 3px solid v.$accent-blue;

    .remove-group {
      color: v.$dark-gray;
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      padding: 0.25rem;
    }
  }
}
