@use '../../../utilities/colors' as v;

.date-input-container {
  position: relative;
  display: flex;
  border: 1px solid v.$accent-gray;
  border-radius: 1rem;
  background: #ffffff;
  width: fit-content;

  input[type='date'] {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background: transparent;
    color: v.$dark-gray;
    font-size: 1rem;
    text-align: center;
    border: none;
    outline: 0;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    background: transparent;
    bottom: 0;
    color: transparent;
    height: 0;
    width: 0;
  }
}

.date-icon {
  background: v.$light-gray;
  padding: 0.5rem 0.375rem 0.5rem 0.5rem;
  border-radius: 1rem 0 0 1rem;
  border-right: 1px solid v.$accent-gray;
  img {
    filter: brightness(0.95);
  }
}
