@use '../../../utilities/colors' as v;

.amount-container {
  overflow: hidden;

  .currency-symbol {
    color: v.$washed-gray;
  }

  .amount-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.02em;
    color: v.$accent-gray;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
  }

  .amount-input {
    padding: 0;
    min-height: auto;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    text-align: center;
    border: none;

    &.field-error {
      border: 2px solid v.$red;
    }
  }
}
