// Colors
$green: #679436;
$red: #dc5537;
$dark-gray: #787878;
$light-gray: #f4f6f8;
$accent-gray: #dfe1e3;
$washed-gray: #b1b1b1;
$layout-green: #6a9b5d;
$dark-green: #57755c;
$dark-red: #9f3b25;
$accent-blue: #6c91c2;
$plum: #827e96;
$blue-black: #3a3f46;
$almost-black: #1c1c1e;

// Gradients
$green-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.134) 100%
  ),
  $layout-green;
$red-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.134) 100%
  ),
  $red;
