// Colors
$green: #679436;
$red: #DC5537;
$dark-gray: #787878;
$light-gray: #F4F6F8;
$accent-gray: #DFE1E3;
$washed-gray: #B1B1B1;

// Gradients
$green-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.134) 100%), #729B79;
$red-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.134) 100%), #DC5537;