@use '../../utilities/colors' as v;

.group-container {
  background: v.$light-gray;
  h2 {
    font-size: 1rem;
  }
}

.group__section {
  .section__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 20px;
    .button--icon {
      display: flex;
    }
    .history-icon {
      padding: 0.25rem 0.25rem 0 0.5rem;
      filter: brightness(0) saturate(100%) invert(21%) sepia(15%)
        saturate(427%) hue-rotate(176deg) brightness(93%) contrast(86%);
    }
  }
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  &--balance {
    padding: 20px;
  }
}

.group__transactions {
  background: #ffffff;
  border-radius: 24px 24px 0px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  .medium-gray {
    color: v.$washed-gray;
  }
}
