@use '../../utilities/colors' as v;

.group-container {
  background: v.$light-gray;

  h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: none;
    color: v.$blue-black;
    padding-left: 0.25rem;
  }
}

.group--blue {
  background: v.$accent-blue;
}
.group--purple {
  background: v.$plum;
}

.details-card-background {
  &.group--blue {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.13) 100%
      ),
      v.$accent-blue;
  }
  &.group--purple {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.13) 100%
      ),
      v.$plum;
  }
}

.group__section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  &--balance {
    padding: 20px;
  }
  &--transactions {
    h2 {
      padding-left: 20px;
    }
  }
}

.group__transactions {
  background: #ffffff;
  border-radius: 24px 24px 0px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  .medium-gray {
    color: v.$washed-gray;
  }
}
