@use '../../utilities/colors' as v;

.add-friends-button {
  display: inline-block;
  margin: 1rem 0 1rem 20px;
  text-decoration: none;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 20px;
  border-bottom: 2px solid v.$accent-gray;
  text-decoration: none;
  color: inherit;

  .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .user-name {
    font-weight: 500;
    padding-bottom: 0.25rem;
  }
  .user-email {
    font-family: 'Rubik', sans-serif;
    font-size: 0.875rem;
    color: v.$washed-gray;
  }
  .pill {
    font-size: 0.75rem;
    font-weight: 600;
    color: v.$washed-gray;
    border: 2px solid v.$washed-gray;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
  }

  .request-buttons {
    display: flex;
    gap: 0.25rem;
  }
  .add-user {
    position: relative;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    border: 2px solid v.$green;
  }
  .checkmark {
    position: relative;
    display: inline-block;
    transform: rotate(45deg);
    height: 16px;
    width: 9px;
    bottom: 1px;
    border-bottom: 2px solid v.$green;
    border-right: 2px solid v.$green;
  }
  .ignore-button {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: white;
    border: 2px solid v.$washed-gray;
    transform: rotate(45deg);
  }
  .ignore-user {
    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: v.$washed-gray;
    }
    &::after {
      width: 2px;
      margin: 10px auto;
    }
    &::before {
      height: 2px;
      margin: auto 10px;
    }
  }
}

.groups-container {
  .button {
    margin: 20px;
  }
  .group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
    border-bottom: 2px solid v.$accent-gray;
    text-decoration: none;
    color: inherit;
  }
}