@use '../../utilities/colors' as v;

.friend-pay-container {
  position: relative;
  background: v.$light-gray;
  .modal-overlay {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
  }
  &.modal-open {
    height: 100vh;
    top: calc(-46px - env(safe-area-inset-top));
    padding-top: calc(46px + env(safe-area-inset-top));
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
  }
}

.friend-container {
  overflow: auto;
  h1 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .pay-up-button {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    .button {
      width: 50%;
      text-align: center;
      text-decoration: none;
      box-shadow: 0px 2px 0px #507155;
      &:active {
        box-shadow: inset 0px 2px 0px #507155;
      }
    }
  }
}

.page-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.132) 100%), #729B79;
  color: #FFFFFF;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 1rem 1rem;
  padding: 0.5rem 1.5rem 1.25rem 1.5rem;
  margin-bottom: 1rem;
  top: -1px;
  touch-action: none;

  .balance-block {
    padding: 0;
    gap: 0.5rem;
  }
  .balance-text {
    font-size: 1rem;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .total-amount {
    font-family: 'Rubik', sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  }
}

.page-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  .avatar {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  }

  .page-title {
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  }
}

.shared-expenses {
  background: #FFFFFF;
  .heading {
    border-top: none;
  }

  .medium-gray {
    display: inline-block;
    font-weight: 500;
    padding: 20px;
    font-size: 0.875rem;
    color: v.$washed-gray;
    text-transform: uppercase;
  }
}