@use '../../utilities/colors' as v;

.pay-up-container {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #ffffff;
  margin: 20px;
  padding: 1rem;
  border-radius: 1rem;

  .balance-block {
    padding: 0;
    background: #ffffff;
    border: none;
  }

  .friend-name {
    font-weight: 500;
  }

  .total {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: v.$almost-black;
  }
}
