@use '../../utilities/colors' as v;

.pay-up-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #ffffff;
  padding: 1.25rem;
  border-radius: 1rem;
  padding-bottom: calc(env(safe-area-inset-bottom) + 1.25rem);

  .pay-up-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: v.$light-gray;
    border-radius: 1rem;
    width: 100%;
    padding: 1.875rem 0;
  }

  .pay-text {
    font-size: 1.5rem;
    font-weight: 400;
    color: v.$blue-black;
  }

  .balance-block {
    gap: 0.875rem;
  }

  .user-name {
    font-weight: 500;
  }

  .pay-avatars {
    display: flex;
    gap: 0.5rem;
  }

  .friend-name {
    font-weight: 500;
  }

  .total {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: v.$layout-green;
  }

  .button {
    width: 100%;
  }
}
