@use '../../../utilities/colors' as v;

.transaction-expense {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  padding: .875rem 1rem;
  background: #FFFFFF;
  border-bottom: 1px solid v.$accent-gray;
  .desc {
    flex: 1 1 auto;
  }
}

.debt-paid {
  font-size: 0.75rem;
  min-width: 68px;
  color: v.$green;
  letter-spacing: 0.25px;
  font-weight: 600;
  border: 1.5px solid v.$green;
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;
  background-color: #6794360b;
  box-shadow: 0px 2px 0px #67943660;
}

.transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  .expense-type {
    color: v.$washed-gray;
    font-weight: 500;
    font-size: 0.75rem;
  }
  .expense-amount {
    color: v.$green;
    font-weight: 600;
  }
  .expense-amount--owe {
    color: v.$red;
  }
}

.expense-link {
  text-decoration: none;
  color: inherit;
}

.expense-avatars {
  display: flex;
  align-items: center;
  .avatar {
    margin-left: -1rem;
    border: 2px solid #FFFFFF;
  }
  .avatar:first-of-type {
    margin: 0;
  }
}