@use '../../utilities/colors' as v;

.heading {
  height: 32px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: v.$light-gray;
  border-bottom: 2px solid v.$accent-gray;

  h2 {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 0.875rem;
  }
}