@use '../../utilities/colors' as v;

.expense-container {
  position: absolute;
  top: 0;
  background: white;
  height: 100%;
  width: 100%;
}

.expense-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background: v.$green-gradient;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding: 0 20px;
}

.header-text {
  flex: 1;

}

.back-arrow {
  border: none;
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  height: 14px;
  width: 14px;
  transform: rotate(-45deg);
  background: none;
  justify-self: flex-start;
}

.expense-info {
  margin: 0 20px;
}

.expense-form {
  .input-label {
    font-family: 'Rubik', sans-serif;
    color: v.$washed-gray;
    font-weight: 500;
    font-size: 0.875rem;
    text-transform: uppercase;
  }

  .expense-input {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 0.5rem;

    input {
      width: 100%;
      font-size: 1rem;
      padding: 0.5rem;
    }
  }

  .radio-option {
    margin: 0.5rem 0;
  }

  .button {
    margin-top: 1rem;
  }
}