@use '../../../utilities/colors' as v;

.search-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  background: v.$light-gray;
  border: 2px solid v.$light-gray;
  margin: 0 1rem;
  border-radius: 1rem;
  padding: 0.5rem 0.875rem 0.5rem 0.625rem;
  text-decoration: none;
  color: inherit;

  .select {
    height: 20px;
    width: 20px;
    background: #ffffff;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 1px 0 v.$accent-gray;
  }

  &.selected {
    background: linear-gradient(
        0deg,
        rgba(32, 78, 138, 0.1),
        rgba(32, 78, 138, 0.1)
      ),
      #f4f6f8;
    border: 2px solid rgba(108, 145, 194, 0.5);
    border: 2px solid rgba(108, 145, 194, 0.5);
    .select {
      background: v.$accent-blue
        url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.800003 4.6L3.2 7L9.2 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
        no-repeat center;
      border: 2px solid #6684ad;
    }
  }
}
