@use '../../../utilities/colors' as v;

.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  &.big {
    .text-input {
      margin: 0 auto;
    }
  }
}

.text-input {
  min-height: 38px;

  &::placeholder {
    color: #bfbfbf;
  }
}
