@use '../../utilities/colors' as v;

.account-container {
  margin: 20px;
}

.account-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;

  .account-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
  }

  button {
    align-self: flex-start;
  }
}