.log-in {
  margin: 0 20px;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1.25rem 0;

  input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
}