@use '../../utilities/colors' as v;

.transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 0.625rem;
  background: v.$light-gray;
  border-left: 3px solid v.$layout-green;
  border-radius: 1rem;
  font-size: 0.875rem;
  width: 100%;
  min-height: 56px;
  &.transaction--red {
    border-left: 3px solid v.$red;
  }
  .desc {
    flex: 1 1 auto;
  }
}

.debt-paid {
  font-size: 0.75rem;
  min-width: 68px;
  color: v.$green;
  letter-spacing: 0.25px;
  font-weight: 600;
  border: 1.5px solid v.$green;
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;
  background-color: #6794360b;
  box-shadow: 0px 2px 0px #67943660;
}

.transaction-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  .expense-amount {
    color: #ffffff;
    font-weight: 600;
    background: v.$layout-green;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border-bottom: 2px solid v.$dark-green;
  }
  .expense-amount--owe {
    background: v.$red;
    border-bottom: 2px solid v.$dark-red;
  }
}

.transaction-link {
  text-decoration: none;
  color: inherit;
}

.transaction-avatars {
  display: flex;
  align-items: center;
  .avatar {
    margin-left: -1rem;
  }
  .avatar:first-of-type {
    margin: 0;
  }
}
