.animation--loading {
  animation: pulse 2s linear infinite;

  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
}

.fade-in {
  animation: fadeInAnimation 0.5s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-up {
  animation: fadeUpAnimation 0.4s ease-in-out both;
}

@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .text-gradient-animation {
    animation: textGradientAnimation 6s ease-in-out infinite;
  
    @keyframes textGradientAnimation {
      from {
        background-position: 0%;
      }
      to {
        background-position: 200%;
      }
    }
  }
}

