@use '../utilities/colors' as v;

.arrow-container--back-arrow {
  display: flex;
  align-items: center;
  height: 100%;
  justify-self: flex-start;
  padding: 0 10px 0 20px;
  background: none;
  border: none;
}

.arrow {
  position: relative;
  border: solid v.$accent-gray;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  background: none;

  &.arrow--right {
    right: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &.arrow--white {
    border: solid #FFFFFF;
  }

  &.arrow--left {
    left: 4px;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  &.arrow--back-arrow {
    display: inline-block;
    padding: 6px;
  }
}