@use '../utilities/colors' as v;

// Avatars
.avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;

  &.white-border {
    outline: 2px solid #ffffff;
    &--thick {
      outline: 4px solid #ffffff;
    }
  }

  &.success-border {
    outline: 2px solid v.$layout-green;
    &--thick {
      outline: 4px solid v.$layout-green;
    }
  }

  &--loading {
    background: v.$light-gray;
  }
}
