@use '../utilities/colors' as v;

// Buttons
.button {
  border-radius: 1rem;
  padding: 8px 16px;
  background: v.$green-gradient;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
  &:active {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }

  &.button--transparent {
    background: none;
  }

  &.button--small {
    padding: 6px 10px;
    font-size: 0.875rem;
  }

  &.button--flat {
    background: v.$layout-green;
  }

  &.button--white {
    background: #ffffff;
    color: v.$green;
    border: 2px solid v.$green;
  }

  &.button--gray {
    background: v.$accent-gray;
    color: v.$dark-gray;
    border: 2px solid v.$accent-gray;
  }

  &.button--medium {
    min-height: 36px;
    padding: 8px 12px;
    font-size: 0.875rem;
    font-weight: 500;
  }

  &.button--red-gradient {
    border: none;
    background: v.$red-gradient;
  }

  &.button--box-shadow {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  }

  &.button--solid-box-shadow {
    box-shadow: 0px 2px 0px #507155;
  }

  &.button--link {
    display: inline-block;
    text-decoration: none;
  }

  &.button--floating {
    position: fixed;
    width: 60%;
    bottom: 1rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 100;
  }

  &.button--disabled {
    background: v.$accent-gray;
    color: v.$dark-gray;
    border: 1px solid v.$dark-gray;
    cursor: not-allowed;
  }
}

.button--no-style {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.button--icon {
  background: none;
  border: none;
  padding: 0;
}

.button--form-add {
  position: relative;
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
  border-bottom: 2px solid v.$accent-gray;

  .add-plus {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: v.$washed-gray;
    }
    &::after {
      width: 2px;
      margin: 16px auto;
    }
    &::before {
      height: 2px;
      margin: auto 16px;
    }
  }
}
