@use '../utilities/colors' as v;

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.input-label {
  font-size: 1rem;
  font-weight: 600;
  color: v.$blue-black;
}

.text-input {
  background-color: #ffffff;
  -webkit-appearance: none;
  appearance: none;
  min-height: 42px;
  border: 1px solid v.$dark-gray;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0 0.75rem;
  font-size: 1rem;
  &:disabled {
    font-family: 'Inter', sans-serif;
    border-color: v.$accent-gray;
    color: v.$washed-gray;
    font-weight: 500;
    background: v.$light-gray;
  }
}

.big {
  &:focus-within {
    textarea:focus,
    input:focus {
      outline: none;
    }
  }
  label {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .text-input,
  .amount-input-container,
  .amount-input {
    padding: 0.375rem 0.875rem;
    width: auto;
    max-width: 300px;
    background: #ffffff;

    font-family: 'Rubik', sans-serif;
    min-height: 62px;
    font-size: 1.875rem;
    font-weight: 400;
    border-radius: 1rem;
    border: 1px solid v.$accent-gray;
    box-shadow: none;
    text-align: center;
    &::placeholder {
      color: v.$accent-gray;
    }
  }
}

.checkmark {
  position: relative;
  display: inline-block;
  transform: rotate(45deg);
  height: 16px;
  width: 9px;
  bottom: 1px;
  border-bottom: 2px solid v.$green;
  border-right: 2px solid v.$green;
  &.hide {
    display: none;
  }
}

.field-error {
  border: 2px solid v.$red !important;
}

.field-error-text {
  position: absolute;
  margin: 0 auto;
  z-index: 4;
  bottom: -60%;
  left: 0;
  right: 0;
  width: fit-content;
  border: 1px solid v.$red;
  background: rgba(220, 85, 55, 0.05);
  border-radius: 0.25rem;
  padding: 0.5rem;

  &.form-validation {
    align-self: center;
  }
}
