@use '../../../utilities/colors' as v;

.avatar-input {
  display: flex;
  align-items: center;
  gap: 1rem;

  input[type="file"] {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
  }

  label {
    border-radius: 1rem;
    padding: 6px 10px;
    background: v.$layout-green;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.875rem;
    border: 2px solid v.$layout-green;
    cursor: pointer;
  }

  input::-webkit-file-upload-button {
    border-radius: 1rem;
    padding: 6px 10px;
    background: v.$layout-green;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.875rem;
    border: 2px solid v.$layout-green;
  }
}
