@use '../../utilities/colors' as v;

.nav-container {
  position: fixed;
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 30%,
    v.$light-gray 100%
  );
  backdrop-filter: blur(2px);
}

.nav-buttons-container {
  height: 56px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 95%;
  border: 2px solid v.$accent-gray;
  border-radius: 1rem;
  background: v.$light-gray;
  .nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
  }
  .nav-button {
    display: flex;
    justify-content: center;
    width: 100%;
    &.selected img {
      filter: brightness(0.7);
    }
  }
}

.add-button {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -0.5rem;
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: v.$layout-green;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: 2px solid white;
  img {
    display: flex;
  }
}
