@use '../../utilities/colors' as v;

.nav-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: v.$light-gray;
  display: flex;
  border-top: 2px solid v.$accent-gray;
  padding-bottom: env(safe-area-inset-bottom);
}

.nav-buttons-container {
  height: 46px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  .nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
  }
  .nav-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 8px 0;

    &.selected img {
      filter: brightness(0.7);
    }
  }
}

.add-button {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: calc(0.5rem + env(safe-area-inset-bottom));
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    v.$layout-green;
  border-radius: 50%;
  border: 2px solid white;
}

.add-plus {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
  }
  &::after {
    width: 3px;
    margin: 16px auto;
  }
  &::before {
    height: 3px;
    margin: auto 16px;
  }
}
